@import "src/css/_variables.css";
@import "src/css/consumer.css";

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

/* Left 50% Container */
.container-dashboard {
    min-height: var(--container-height);
    width: var(--container-width);
    border: var(--simple-border);
    display: flex;
    flex-direction: column;
}

/* Inside Left Container Top*/
.container-forms {
    height: var(--container-width);
    border-bottom: var(--simple-border);
}

/* Inside Left Container Bottom*/
.container-provider {
    height: var(--container-width);
}

/* Right 50% Container */
.container-consumer {
    min-height: var(--container-height);
    width: 50%;
    border: var(--simple-border);
}

h1, h2 {
    padding-left: 1em;
}


