@import "_variables.css";

body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

/* Left 50% Container */
.container-dashboard {
    min-height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: var(--simple-border);
}

/* Inside Left Container Top*/
.container-forms {
    height: 50%;
    border-bottom: 5px solid #000000;
}

/* Inside Left Container Bottom*/
.container-provider {
    height: 50%;
}

/* Right 50% Container */
.container-consumer {
    min-height: 100vh;
    width: 50%;
    border: var(--simple-border);
}

h2 {
    padding-left: 1em;
}


